/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wilcard selector to ovverride default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    background-color: white;
    line-height: 1.6;
    /* Generic project styles */
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
}


/* Header */
header {
    background-color: beige;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logo {
    font-size: 1.5rem;
    color: #co84fc;
    margin-bottom: 0.5rem;
}

.nav-links {
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-links a {
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #c084fc;
}

hr {
    box-shadow: 0 2px 4px #3a3a3a;
}

/* Main content*/
main {
    background: linear-gradient(to bottom right, #3c2a87 , #1c1c2b);
    padding: 2rem 1rem;
    text-align: center;
}

.intro h2 {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    color: #c084fc;
}

.intro p {
    font-size: 0.5rem;
    max-width: 50%;
    margin: 0 auto 1.5rem;
}

.cta-button {
    background-color: #c084fc;
    color: #1c1c2b;
    padding: 0.1rem 0.1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #a35eea;
}

/* Footer */
footer {
    background-color: blueviolet;
    padding: 1rem;
    text-align: center;
    color: #aaa;
    font-size: 0.45rem;
}