/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wilcard selector to ovverride default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    background-color: white;
    line-height: 1.6;
    /* Generic project styles */
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
}


/* Header */
header {
    background-color: #2d2d44;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


hr {
    box-shadow: 0 2px 4px #3a3a3a;
}

h1 {
    font-family: "Oswald" , sans-serif;
}
/* Main content*/
main {
    background-color: beige;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: blueviolet;
}